<!DOCTYPE html>
<html>
  <head>
    <title>Posergram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" 
    integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" 
    crossorigin="anonymous"></script>

    <script>
        window.phonePhoto = "<%= image_url("phone-photo.jpg") %>"
        window.phoneDummy = "<%= image_url("dummy-phone.png") %>"
        window.pgLogo = "<%= image_url("posergram-logo.png") %>"
        window.sprite = "<%= image_url("core-sprite-ig.png") %>"
        window.camBar = "<%= image_url("cam-bar.png") %>"
        window.person = "<%= image_url("person-logo.png") %>"
        window.heart = "<%= image_url("heart-logo.png") %>"
        window.discover = "<%= image_url("discover-logo.png") %>"
        window.profPhoto = "<%= image_url("profile-photo-temp.jpg") %>"
        window.fob = "<%= image_url("fob.png") %>"
        window.logo = "<%= image_url("logo.png") %>"
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>


