<!DOCTYPE html>
<html>
  <head>
    <title>Posergram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" 
    integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" 
    crossorigin="anonymous"></script>
    
    <script defer src="https://use.fontawesome.com/releases/v5.8.2/css/all.css" 
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" 
    crossorigin="anonymous"></script>
     

    <script>
        window.phonePhoto = "<%= image_url("phone-photo.jpg") %>"
        window.phoneDummy = "<%= image_url("dummy-phone.png") %>"
        window.pgLogo = "<%= image_url("posergram-logo.png") %>"
        window.camBar = "<%= image_url("cam-bar.png") %>"
        window.person = "<%= image_url("person-logo.png") %>"
        window.heart = "<%= image_url("heart-logo.png") %>"
        window.discover = "<%= image_url("discover-logo.png") %>"
        window.fob = "<%= image_url("fob.png") %>"
        window.logo = "<%= image_url("logo.png") %>"
        window.upload = "<%= image_url("upload-logo.png") %>"
        window.dots = "<%= image_url("dots.png") %>"
    </script>

  <link rel="apple-touch-icon" sizes="57x57" href= "<%= image_url("favicon.ico/apple-icon-57x57.png") %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= image_url("favicon.ico/apple-icon-60x60.png") %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= image_url("favicon.ico/apple-icon-72x72.png") %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= image_url("favicon.ico/apple-icon-76x76.png") %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= image_url("favicon.ico/apple-icon-114x114.png") %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= image_url("favicon.ico/apple-icon-120x120.png") %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= image_url("favicon.ico/apple-icon-144x144.png") %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= image_url("favicon.ico/apple-icon-152x152.png") %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= image_url("favicon.ico/apple-icon-180x180.png") %>">
  <link rel="icon" type="image/png" sizes="192x192"  href="<%= image_url("favicon.ico/android-icon-192x192.png") %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= image_url("favicon.ico/favicon-32x32.png") %>">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= image_url("favicon.ico/favicon-96x96.png") %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= image_url("favicon.ico/favicon-16x16.png") %>">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  </head>

  <body>
    <%= yield %>
  </body>
</html>


